<%= image_tag("photo_handmade.png", :class => "photo_graphic") %>
			<div class="text_div">
				<%= image_tag("header_handmade.gif", :class => "text_header")%>
				<div class="text_div_content">
					<p class="text_summary">The soapmaking process is very low impact on the environment, meaning that we don’t use motorized or carbon-intensive equipment. The only non-manual power required is a small electric burner to melt the oils on low heat for about 15 minutes per batch. Every other step in the process is done by hand.</p>
					<p class="text_summary">In my “soap cellar” here is the process I use:</p>
					<ul>
						<li>Measure all ingredients precisely using a digital scale.</li>
						<li>Dissolve lye in water. The chemical reaction creates a lot of heat.</li>
						<li>Melt the oils over low heat.</li>
						<li>When oils have reached 80 degrees, I add the grapefruit seed extract.</li>
						<li>Get both water and oil to be exactly 80 degrees.</li>						
						<li>When at 80 degrees, add the water to the oil.</li>
						<li>Stir until the mixture “traces” or leaves a faint impression on the surface.</li>
						<li>Add any nutrients and essential oils.</li>
						<li>Pour the mixture into a wooden rectangular mold, or into separate molds.</li>
						<li>Cover the mold with blankets for 24 hours to complete the saponification.</li>
						<li>If using a rectangular mold, cut into long bars after about a week, then into short bars after another week, then cure for another three weeks.</li>
						<li>After about a total of six weeks, unmold and trim each bar by hand to remove the white coating.</li>
						<li>Print labels and wrap each bar.</li>
					</ul>
				</div>
			</div>
			