<%= image_tag("photo_soapmaker.png", :class => "photo_graphic") %>
			<div class="text_div">
				<div class="text_div_content">
					<%= image_tag("header_soapmaker.gif", :class => "in_text_header") %>
					<p class="text_summary">Kensington Soap Works soaps are handmade by a single soapmaker at her home in Kensington, a small community in the San Francisco Bay Area next to Berkeley, Albany and El Cerrito in the East Bay Hills.</p> 
					<p class="text_summary_no_justify">The soapmaker can be contacted at: <%= mail_to "soapmaker@kensingtonsoapworks.com", "soapmaker@kensingtonsoapworks.com" %></p>
					<%= image_tag("header_special_features.gif", :class => "in_text_header") %>
					<p class="text_summary">Kensington Soap Works is special because:
					<ul>
						<li>All ingredients are natural, not synthetic</li>
						<li>Most ingredients are organic <p>(although I don’t certify my soap as organic)</p></li>
						<li>All soaps are vegan (except Oatmeal Honey)</li>
						<li>No animal testing <p>(unless you count testing on my husband!)</p></li>
						<li>Environmentally-friendly packaging</li>						
						<li>The soap is made in small batches</li>
						<li>All steps in the soapmaking process are done by hand by a single soapmaker</li>
						<li>It is a woman-owned business</li>
					</ul>
				</div>
			</div>
