<%= image_tag("photo_natural.png", :class => "photo_graphic") %>
			<div class="text_div">
					<div class="text_div_content">
					<p class="text_summary">We provide natural, environmentally sustainable, rejuvenating soap products. Like so many products in our everyday lives, the modern equivalent of our ancestors’ soap is not an improvement.</p>
					<p class="text_summary">Many commercial soaps contain harmful synthetic chemicals and tallow (an animal product). By using natural and inherently safe ingredients, we protect our bodies and our environment.</p>
					<%= image_tag("header_sustainability.gif", :class => "in_text_header")%>
					<p class="text_summary">These soaps promote a healthy environment. We don’t use harmful synthetic chemicals; only high quality natural (mostly organic) ingredients. No animal products are used,* and there is no animal testing.</p>
					<p class="text_summary">Environmental impacts include the transportation of supplies (usually by mail), the transportation of the soap (also usually by mail), and the hot water used for cleaning the soapmaking equipment.</p>
					<p class="text_footnote">*Oatmeal Honey soap contains honey.</p>
					<%= image_tag("header_ingredients.gif", :class => "in_text_header") %>
					<p class="text_summary">The base for all of my soaps is the same luxurious mixture.  To this base I add a variety of natural nutrients (such as Vitamin E) and pure essential oils for scent:</p>
					<ul class="ul_natural">
						<li class="li_natural">olive oil</li>
						<li class="li_natural">palm oil</li>
						<li class="li_natural">coconut oil</li>
						<li class="li_natural">distilled water</li>
						<li class="li_natural">sodium hydroxide (lye)</li>
						<li class="li_natural">grapefruit seed extract <p class="no_caps">(as a natural preservative)</p></li>
					</ul>
					</div>
			</div>
