<div class="purchases_summary">
For information on purchasing Kensington Soap Works handcrafted soaps please contact <%= mail_to "soapmaker@kensingtonsoapworks.com", "soapmaker@kensingtonsoapworks.com" %>. 
</div>

